<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
    <display-name>finalWeb</display-name>
    <welcome-file-list>
        <welcome-file>start.jsp</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>my</servlet-name>
        <servlet-class>by.arabienko.onlineSchool.controller.ServletSQLRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>my</servlet-name>
        <url-pattern>/my</url-pattern>
        <url-pattern>/cs.do</url-pattern>
    </servlet-mapping>
    <jsp-config>
        <taglib>
            <taglib-uri>customtags</taglib-uri>
            <taglib-location>/WEB-INF/tld/custom.tld</taglib-location>
        </taglib>
    </jsp-config>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/error/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/jsp/error/error.jsp</location>
    </error-page>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>by.arabienko.onlineSchool.controller.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterRequest</filter-name>
        <filter-class>by.arabienko.onlineSchool.controller.filter.FilterRequest</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterRequest</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>TypeCommandFilter</filter-name>
        <filter-class>by.arabienko.onlineSchool.controller.filter.TypeCommandFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TypeCommandFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
